<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.tatuan.qldh2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DangKy.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DangKy.DangNhap" />
        <activity android:name=".DangKy.DangKy" />
        <activity android:name=".admin.MainAdmin" />
        <activity android:name=".admin.QuanTriVien" />
        <activity android:name=".DonHang.QuanLyDonHang" />
        <activity android:name=".DanhSachDonHang.DonHang2" />
        <activity android:name=".HangDongHo.DongHo" />
        <activity android:name=".DanhSachDongHo.DanhSachDongHo" />
        <activity android:name=".ChinhSuaItem.HienThiThongTin" />
        <activity android:name=".UploadNewItem.ThemAnh" />

    </application>

</manifest>